@page
@using System.Dynamic
@model Courses.Index

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<kendo-grid name="grid" height="550" deferred="true">
    <datasource page="1" server-paging="true" type="DataSourceTagHelperType.Ajax" page-size="2">
        <schema data="Data">
            <model>
                <fields>
                    <field name="Id" type="number" />
                    <field name="Credits" type="number" />
                </fields>
            </model>
        </schema>
        <transport >
            <read  url="?handler=Courses_Read" type="GET"/>
        </transport>
    </datasource>
    <groupable enabled="true" />
    <sortable enabled="true" />
    <pageable button-count="5"  refresh="true" page-sizes="new int[] { 2, 10, 20 }">
    </pageable>
    <filterable enabled="true" />
    <columns>
        <column field="Title" title="Title" />
        <column field="Id" />
        <column field="Credits"  />
        <column field="DepartmentName" />
        <column field="Id" title="Action" template="<a href='/Courses/Edit/#= Id #'>Edit</a> | <a href='/Courses/Details/#= Id #'>Details</a> | <a href='/Courses/Delete/#= Id #'>Delete</a>"></column>
    </columns>
</kendo-grid>