@page
@model Courses.Index

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<kendo-grid name="grid" height="550" deferred="true">
    <datasource server-paging="true" type="DataSourceTagHelperType.Ajax">
        <schema data="Data">
            <model>
                <fields>
                    <field name="Id" type="number" />
                    <field name="Credits" type="number" />
                </fields>
            </model>
        </schema>
        <transport parameter-map="function(data, operation){console.log('map')}">
            <read url="?handler=Courses_Read" type="GET" />
        </transport>
    </datasource>
    <groupable enabled="true" />
    <sortable enabled="true" />
    <pageable button-count="5" refresh="true" page-size="5">
    </pageable>
    <filterable enabled="true" />
    <columns>
        <column field="Title" title="Title" />
        <column field="Id" />
        <column field="Credits" />
        <column field="DepartmentName" />
        <column field="Id" title="Action" template="<a href='/Courses/Edit/#= Id #'>Edit</a> | <a href='/Courses/Details/#= Id #'>Details</a> | <a href='/Courses/Delete/#= Id #'>Delete</a>"></column>
    </columns>
</kendo-grid>